<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension
         point="org.knime.workbench.repository.categories">
        <category
            icon="icons/pm4knime.png"
            level-id="processmining"
            name="Process Mining"
            path="/" />
        <category
            icon="icons/category_reader.png"
            level-id="io"
            name="IO"
            path="/processmining" />
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/processmining/io"
            factory-class="org.pm4kinme.node.io.read.XLogReaderNodeFactory"
            id="org.pm4kinme.node.io.read.XLogReaderNodeFactory"/>
    </extension>
    <extension
          point="org.knime.core.PortType">
       <portType
             hidden="false"
             name="Event Log"
             objectClass="org.pm4kinme.portobject.XLogPortObject"
             objectSerializer="org.pm4kinme.portobject.XLogPortObject$XLogPortObjectSerializer"
             specClass="org.pm4kinme.portobject.XLogPortObjectSpec"
             specSerializer="org.pm4kinme.portobject.XLogPortObjectSpec$XLogPortObjectSpecSerializer">
       </portType>
    </extension>
</plugin>
