<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

    <extension point="org.knime.workbench.repository.categories">
        <category icon="icons/pm4knime.png" level-id="processmining" name="Process Mining" path="/"/>
        <category icon="icons/category_reader.png" level-id="io" name="IO" path="/processmining"/>
        <category level-id="discovery" name="Discovery" path="/processmining"/>
         <category level-id="conformance" name="Conformance" path="/processmining"/>
        <category level-id="evaluation" name="Evaluation" path="/processmining"/>
        <category level-id="manipulation" name="Manipulation" path="/processmining"/>
        <category level-id="enhancement" name="Enhancement" path="/processmining"/>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/processmining/io" factory-class="org.pm4knime.node.io.log.reader.XLogReaderNodeFactory"/>
       <node category-path="/processmining/io" factory-class="org.pm4knime.node.io.petrinet.reader.PetrinetReaderNodeFactory"/>  
       
      <node category-path="/processmining/io" factory-class="org.pm4knime.node.io.petrinet.writer.PetrinetWriterNodeFactory" id="org.pm4knime.ding.io.PetrinetWriterNodeFactory"/>  
      <node category-path="/processmining/io" factory-class="org.pm4knime.node.io.processtree.reader.ProcessTreeReaderNodeFactory" id="org.pm4knime.ding.io.processtree.reader.ProcessTreeReaderNodeFactory"/>
       <node category-path="/processmining/io" factory-class="org.pm4knime.node.io.processtree.writer.ProcessTreeWriterNodeFactory" id="org.pm4knime.ding.io.processtree.writer.ProcessTreeWriterNodeFactory"/>
       
       <node category-path="/processmining/discovery" factory-class="org.pm4knime.node.discovery.alpha.AlphaMinerNodeFactory" id="org.pm4kinme.node.discovery.alpha.AlphaMinerNodeFactory"/>
      <node category-path="/processmining/discovery" factory-class="org.pm4knime.node.discovery.inductiveminer.InductiveMinerNodeFactory" id="org.pm4knime.ding.inductiveminer.InductiveMinerNodeFactory"/>

	
<node category-path="/processmining/manipulation" factory-class="org.pm4knime.node.logmanipulation.split.SplitLogNodeFactory" id="org.pm4knime.node.logmanipulation.SplitLogNodeFactory"/>
<node category-path="/processmining/manipulation" factory-class="org.pm4knime.node.logmanipulation.classify.RandomClassifierNodeFactory" id="org.pm4knime.node.logmanipulation.classify.RandomClassifierNodeFactory"/>

<node category-path="processmining/enhancement" factory-class="org.pm4knime.node.enhancement.incorporatenegativeinformation.IncorporateNegInfoNodeFactory" id="org.pm4kinme.node.enhancement.incorporatenegativeinformation.IncorporateNegInfoNodeFactory"/>
<node category-path="/processmining/io" factory-class="org.pm4knime.node.io.log.writer.XLogWriterNodeFactory" id="org.pm4kinme.node.io.log.writer.XLogWriterNodeFactory"/>
<node category-path="/processmining/manipulation" factory-class="org.pm4knime.node.logmanipulation.sample.SampleLogNodeFactory" id="org.pm4knime.node.logmanipulation.sample.SampleLogNodeFactory"/>
<node category-path="/processmining/manipulation" factory-class="org.pm4knime.node.logmanipulation.split2.LogSplitterNodeFactory" id="org.pm4knime.node.logmanipulation.split2.LogSplitterNodeFactory"/>
<node category-path="/processmining/conformance" factory-class="org.pm4knime.node.conformance.ConformanceCheckerNodeFactory" id="org.pm4knime.node.conformance.ConformanceCheckerNodeFactory"/>
<node category-path="/processmining/discovery" factory-class="org.pm4knime.node.discovery.heuritsicsminer.HeuristicsMinerNodeFactory" id="org.pm4knime.node.discovery.heuritsicsminer.HeuristicsMinerNodeFactory"/>
</extension>
    <extension point="org.knime.core.PortType">
       <portType hidden="false" name="Event Log" objectClass="org.pm4knime.portobject.XLogPortObject" objectSerializer="org.pm4knime.portobject.XLogPortObject$XLogPortObjectSerializer" specClass="org.pm4knime.portobject.XLogPortObjectSpec" specSerializer="org.pm4knime.portobject.XLogPortObjectSpec$XLogPortObjectSpecSerializer">
       </portType>
       <portType hidden="false" name="Process Tree" objectClass="org.pm4knime.portobject.ProcessTreePortObject" objectSerializer="org.pm4knime.portobject.ProcessTreePortObjectSerializer" specClass="org.pm4knime.portobject.ProcessTreePortObjectSpec" specSerializer="org.pm4knime.portobject.ProcessTreePortObjectSpecSerializer">
       </portType>
       <portType hidden="false" name="Petri Net" objectClass="org.pm4knime.portobject.PetriNetPortObject" objectSerializer="org.pm4knime.portobject.PetriNetPortObject$PetriNetPortObjectSerializer" specClass="org.pm4knime.portobject.PetriNetPortObjectSpec" specSerializer="org.pm4knime.portobject.PetriNetPortObjectSpec$PetriNetPortObjectSpecSerializer">
       </portType>
        <portType hidden="false" name="Alignment" objectClass="org.pm4knime.portobject.AlignmentPortObject" objectSerializer="org.pm4knime.portobject.AlignmentPortObject$AlignmentPortObjectSerializer" specClass="org.pm4knime.portobject.AlignmentPortObjectSpec" specSerializer="org.pm4knime.portobject.AlignmentPortObjectSpec$AlignmentPortObjectSpecSerializer">
       </portType>
    </extension>
</plugin>
